@page "/tours/edit/{GameId:int}"
@using Application.Web.Client.Data.Repository
@inject IRepository _db

<div class="row">
    <div class="col">
        <h1 class="text-info text-center text-uppercase ">Edit Game</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <GameForm Game="tour" OnValidSubmit="EditTheGame"></GameForm>
    </div>
</div>

@code {
    [Parameter]
    public int TourId { get; set; }

    Tour tour;

    protected override void OnInitialized()
    {
        tour = _db.GetTourById(TourId);
    }

    void EditTheGame()
    {

    }
}
