@page "/tours/{TourId:int}"
@page "/tours/{TourId:int}/{TourName}"



<h3>TourDetails</h3>
<div class="form-group">
    <label>TourId: </label>
    <div>
        <label>@TourId</label>
    </div>
</div>
<div class="form-group">
    <label>TourName: </label>
    <div>
        <label>@TourName</label>
    </div>
</div>

@code {

    [Parameter]
    public int TourId { get; set; }

    [Parameter]
    public string TourName { get; set; }

}
