@page "/transport/create"
@using Application.Web.Client.Data.Repository
@inject NavigationManager navManager
@inject IRepository _db

<div class="row">
    <div class="col">
        <h1 class="text-info">Add Transport</h1>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <FormForTransport Transport="transport" OnValidSubmit="AddNewGenre" />
    </div>
</div>

@code {
    Transport transport = new();

    void AddNewGenre()
    {
        try
        {
            bool result = _db.CreateNewTransport(transport);

            if (result)
                navManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}