@page "/transport/edit/{TransportId:int}"
@using Application.Web.Client.Data.Repository
@inject IRepository _db

<div class="row">
    <div class="col">
        <h1 class="text-info">Edit Transport</h1>
    </div>
</div>
<div class="row">
    <div class="col-6">
        @if (transport is not null)
        {
            <FormForGenre Genre="transport" OnValidSubmit="Edit"/>
        }
        else
        {
            <div class="alert alert-info">
                Invalid ID, Please try again!
            </div>
        }
    </div>
    <div class="col-6">
        @if (message is not null)
        {
            <div class="@cssClass text-center py-2">@message</div>
            @foreach (var item in allTransports)
            {
                <div class="row justify-content-lg-between m-1 text-white">
                    <div class="col-6 bg-primary">
                        ID: @item.TransportId
                    </div>
                    <div class="col-6 bg-info">
                        Name: @item.TypeOfTransport
                    </div>
                </div>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public int TransportId { get; set; }

    Transport transport;
    string message = string.Empty;
    string cssClass = string.Empty;
    List<Transport> allTransports = new();

    protected override void OnInitialized()
    {
        transport = _db.GetTransportById(TransportId);
    }

    void Edit()
    {
        var result = _db.EditTransport(transport);

        if (result)
        {
            cssClass = "alert alert-success";
            message = "Editing Seccess!";
            UpdateGenrList();
        }
        else
        {
            cssClass = "alert alert-danger";
            message = "Editing Failed!";
        }
    }

    void UpdateGenrList()
    {
        allTransports = new();
        allTransports = _db.GetAllTransport();
    }
}
