@page "/genres/create"
@using Application.Database.Models
@using Application.Database
@using Application.Web.Client.Data.Repository
@inject NavigationManager navManager
@inject IRepository _db

<div class="row">
    <div class="col">
        <h1 class="text-info">Create Genre</h1>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <FormForGenre Genre="genre" OnValidSubmit="AddNewGenre" />
    </div>
</div>

@code {
    Transport genre = new();

    void AddNewGenre()
    {
        bool result = _db.CreateNewGenre(genre);

        if (result)
            navManager.NavigateTo("/");
    }
}
