@page "/transportOfTour"
@using Application.Web.Client.Data.Repository
@inject NavigationManager navManager
@inject IRepository _db

<div class="row">
    <div class="col">
        <h1 class="text-info">Transports Of Tours</h1>
    </div>
</div>

<h1 class="text-info">All Transport Of Tour</h1>
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tour Id</th>
                    <th scope="col">Transport ID</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in TransportOfTour)
                {
                    <tr scope="row">
                    <td>@item.Id</td>
                        <td>@item.TourId</td>
                        <td>@item.TransportId</td>
                    </tr>
            }
            </tbody>
        </table>
    </div>
</div>
   
<div class="row">
    <div class="col">
        <a class="btn btn-info" href="/transportOfTour/create">Add New Transport Of Tour</a>
    </div>
</div>

@code {

    List<TransportOfTour> TransportOfTour = new();
    protected override void OnInitialized()
    {
        TransportOfTour = _db.GetAllTransportOfTour();
    }
}
