@page "/tours/create"
@using Application.Web.Client.Data.Repository

@inject NavigationManager navManager
@inject IRepository _db

<div class="row">
    <div class="col">
        <h1 class="text-info text-center text-uppercase ">Add Tour</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <TourForm Tour="tour" OnValidSubmit="AddNewTour" NotSelectedGenres="notSelectedTransports"></TourForm>
    </div>
</div>

@code {

    Tour tour = new();

    List<Transport> notSelectedTransports = new();

    protected override void OnInitialized()
    {
        notSelectedTransports = _db.GetAllTransport();
    }

    void AddNewTour()
    {
        bool result = _db.CreateNewTour(tour);
        try{
        if(result)
            navManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
