<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Application.Web.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-infinity" aria-hidden="true"></span> Profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Roles="Admin,User,Studio">
                <NotAuthorized>

                </NotAuthorized>
                <Authorized>
                    <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Roles="Admin">
                <NotAuthorized>

                </NotAuthorized>
                <Authorized>
                    <NavLink class="nav-link" href="genres">
                        <span class="oi oi-aperture" aria-hidden="true"></span> Transport
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Roles="Admin,Studio">
                <NotAuthorized>

                </NotAuthorized>
                <Authorized>
                    <NavLink class="nav-link" href="studio">
                        <span class="oi oi-action-redo" aria-hidden="true"></span> Tour Operator
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Roles="Admin,Studio,User">
                <NotAuthorized>
                </NotAuthorized>
                <Authorized>
                    <NavLink class="nav-link" href="games/search">
                        <span class="oi oi-signal" aria-hidden="true"></span> Tour Search
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Roles="Admin,Studio">
                <NotAuthorized>
                </NotAuthorized>
                <Authorized>
                    <NavLink class="nav-link" href="games/create">
                        <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Create New Tour
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
