<EditForm Model="Transport" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label>Type transport:</label>
        <div>
            <InputText class="form-control mb-2" @bind-Value="Transport.TypeOfTransport" />
            <ValidationMessage For="(() => Transport.TypeOfTransport)" />
        </div>
    </div>
    <button class="btn btn-outline-primary">Save</button>
</EditForm>

@code {
    [Parameter]
    public Transport Transport { get; set; }
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}
