@using System.Security.Claims
@using Application.Web.Client.Data.Repository
@inject IRepository _db
<EditForm Model="HotelsOfTour" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <h1 class="text-info">New Hotels Of Tours:</h1>
            </div>
        </div>
        <div>
            <h3>Tour Id</h3>
            <select class="form-control mb-2" @bind="HotelsOfTour.TourId">
                <option>-- Select Tour --</option>
                @foreach (var item in Tour)
                {
                    <option value="@item.TourId">@item.TourName</option>
                }
            </select>
            <ValidationMessage For="(() => HotelsOfTour.TourId)" />
            <h3>Hotel Id</h3>
            <select class="form-control mb-2" @bind="HotelsOfTour.HotelId">
                <option>-- Select Tour --</option>
                @foreach (var item in Hotel)
                {
                    <option value="@item.HotelId">@item.HotelName</option>
                }
            </select>
            <ValidationMessage For="(() => HotelsOfTour.HotelId)" />
        </div>
    </div>
    <button class="btn btn-outline-primary">Save</button>
</EditForm>

@code {
    [Parameter]
    public HotelsOfTour HotelsOfTour { get; set; }
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
    List<Tour> Tour = new();
    List<Hotel> Hotel = new();
    protected override void OnInitialized()
    {
        Tour = _db.GetAllTours();
        Hotel = _db.GetAllHotel();
    }
}
