<EditForm Model="Genre" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label>Genre Name:</label>
        <div>
            <InputText class="form-control mb-2" @bind-Value="Genre.TypeOfTransport"/>
            <ValidationMessage For="(() => Genre.TypeOfTransport)"/>
        </div>
    </div>
    <button class="btn btn-outline-primary">Save</button>
</EditForm>

@code {
    [Parameter]
    public Transport Genre { get; set; }
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}
