@using Application.Web.Client.Data.Repository;
@using Microsoft.EntityFrameworkCore
@using Application.Database

@inject IRepository _db

@if (ListOfItems is null)
{
    <div class="row text-center">
        <div class="col">
            <img src="https://i.gifer.com/origin/b4/b4d657e7ef262b88eb5f7ac021edda87_w200.gif" height="500" />
        </div>
    </div>
}
else if (ListOfItems.Count == 0)
{
    <div class="row text-center">
        <div class="col">
            <img src="https://www.ibellstore.com/images/no-item-found-here.png" height="500" />
        </div>
    </div>
}
else
{
    <div class="typeahead">
        <div class="typeahead-contols">
            <input type="text" class="typeahead-input" autocomplete="off" placeholder="New Name..." @bind="newTourName">
        </div>
    </div>
    
    <div class="row ">
        @foreach (var item in ListOfItems)
        {
            <IndividualGame Tour="item" OnDeleteTour="DeleteTour" OnEditTour="EditTour" />
        }
    </div>
}


@code {
    [Parameter]
    public List<Tour> ListOfItems { get; set; }

    private string newTourName;

    void DeleteTour(Tour tour)
    {
        ListOfItems.Remove(tour);
        _db.RemoveTour(tour);
    }

    void EditTour(Tour tour)
    {
        var tourToEdit = ListOfItems.FirstOrDefault(g => g.TourId == tour.TourId);

        if (tourToEdit != null)
        {
            tourToEdit.TourName = newTourName;

            _db.UpdateTour(tourToEdit);
        }
    }

    void UpdateTour()
    {
        EditTour(ListOfItems.FirstOrDefault());
    }
}