@using Application.Database.Models
<EditForm Model="TourOperator" OnValidSubmit="OnValidSubmitHandler">
    <div class="form-group">
        <label>Operator Name: </label>
        <div>
            <InputText pattern="[^ ]+" title="Spaces are not allowed" class="form-control" @bind-Value="TourOperator.Fio" />
            <ValidationMessage For="(()=>TourOperator.Fio)" />
        </div>
    </div>
    <div class="form-group">
        <label>Age:</label>
        <div>
            <Input pattern="[^ ]+" title="Spaces are not allowed" class="form-control" @bind-Value="TourOperator.Age" />
            <ValidationMessage For="(()=>TourOperator.Age)" />
        </div>
    </div>
    
    <InputImage Label="Image" OnImageFileSelected="ImageFileSelectedHandler" ImageUrl="@imageUrl"/>
    
    <div class="form-group form-markdown">
        <MarkdownInput @bind-Value="TourOperator.Resume" Label="Resume" OnFor="(() => TourOperator.Resume)" />
    </div>

    <button type="submit" class="btn btn-primary">Add New Tour Operator</button>
</EditForm>

@code {
    [Parameter]
    public TourOperator TourOperator { get; set; }

    [Parameter]
    public EventCallback OnValidSubmitHandler { get; set; }

    string imageUrl;

    protected override void OnInitialized()
    {
        imageUrl = TourOperator.Image;
        TourOperator.Image = null;
    }

    void ImageFileSelectedHandler(string imageBase64)
    {
        TourOperator.Image = imageBase64;
        imageUrl = null;
    }
}
