@page "/touroperator/create"
@using Application.Web.Client.Data.Repository

@inject NavigationManager navManager
@inject IRepository _db

<div class="row">
    <div class="col">
        <h1 class="text-info">Add Tour Operator</h1>
    </div>
</div>
<div class="row">
	<div class="col-10">
        <TourOperatorPageForm TourOperator="tourOperator" OnValidSubmitHandler="AddNewTourOperator" />
	</div>
	<div class="col">

	</div>
</div>

@code {

    TourOperator tourOperator = new();

    void AddNewTourOperator()
    {
        bool result = _db.CreateNewTourOperator(tourOperator);

        if (result)
            navManager.NavigateTo("/");
    }
}