@page "/hotels"
@using Application.Web.Client.Data.Repository
@inject NavigationManager navManager
@inject IRepository _db

<div class="row">
    <div class="col">
        <h1 class="text-info">Hotels</h1>
    </div>
</div>

<h1 class="text-info">Available Hotels</h1>
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Hotel ID</th>
                <th scope="col">Hotel Name</th>
                <th scope="col">Count Of Stars Hotel</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Hotel)
                {
                    <tr scope="row">
                    <td>@item.HotelId</td>
                        <td>@item.HotelName</td>
                        <td>@item.CountOfStars</td>
                        <td>@item.CityId</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
   
<div class="row">
    <div class="col">
        <a class="btn btn-info" href="/hotels/create">Add New hotel</a>
    </div>
</div>

@code {

    List<Hotel> Hotel = new();
    protected override void OnInitialized()
    {
        Hotel = _db.GetAllHotel();
    }
}
